.head {
  fill: $lightGrey;
  stroke: $lightGrey;
}
.body {
  stroke: $lightGrey;
}
.leg-left {
  stroke: $lightGrey;
}
.leg-right {
  stroke: $lightGrey;
}
.arm-left {
  stroke: $lightGrey;
}
.arm-right {
  stroke: $lightGrey;
}

.show-hangman {
  stroke: $black;
}
