$primaryFont: 'Arsenal',sans-serif;
$secondaryFont: 'Open Sans',sans-serif;
$hspace: 1rem;
$vspace: .75rem;

// colors

$offWhite: #fcfad0;
$lightGrey: #a1a194;
$medGrey: #5b605f;
$darkGrey: #464646;
$pink: #a90641;
 
$black: #000; // show hangman
